@font-face{
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face{
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}
:root{
    --color-background:#fffdf7;
    --color-black:#212121;
    --color-black-heavy:#000;
    --color-text:#4f4f4f;
    --color-text-out:#90908e;
    --color-primary:#1B7F7A;
    --color-secondary:#fff2cc;
    --color-white:#ffffff;
    --color-red:#e74c3c;
    --color-green:#2ecc71;
    --color-separate:#cccccc;
}
body{
  background-image: url('../img/backgroundImg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -17px;
}
html,body{
    font-family: 'PoppinsRegular', 'Rubik' , 'sans-serif';
    color: var(--color-text);
}
.hidden{
    display: none!important;
}
/*SCROLL MOUSE*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0.3);;
}
::-webkit-scrollbar-track{
    background-color: var(--color-secondary);
    width: 50px;
}
/*Header*/
.header{
    font-size: 20px;
    width: 100%;
    height: 180px;
    padding: 3px 8%!important;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: rgba(0,0,0,0.3);
}
.navbar-brand{
    transition: 0.3s ease;
}
.navbar-brand:hover{
    transform: scale(1.1);
}
    /* botao voltarl */ 
    .buttons {
        border: none;
        display: block;
        position: relative;
        padding: 0.7em 2.4em;
        font-size: 18px;
        background: transparent;
        cursor: pointer;
        user-select: none;
        overflow: hidden;
        color: black;
        z-index: 1;
        font-family: inherit;
        font-weight: 500;
        margin-bottom: 30px;
      }
      
      .buttons span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 70px;
        background: transparent;
        z-index: -1;
        border: 4px solid var(--color-primary);
      }
      
      .buttons span::before {
        content: "";
        display: block;
        position: absolute;
        width: 8%;
        height: 500%;
        background: var(--lightgray);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-60deg);
        transition: all 0.3s;
      }
      
      .buttons:hover span::before {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100%;
        background: var(--color-primary);
      }
      
      .buttons:hover {
        color: white;
      }
      
      .buttons:active span::before {
        background: var(--color-primary);
      }
      b{
        font-family: 'PoppinsMedium', 'Rubik' , 'sans-serif';
    }
    a{
      color: #000;
      text-decoration: none;
    }
    .nav-link {
      color: var(--color-black)!important;
      padding-left: 35px!important;
      padding-right: 35px!important;
  }
/*hasmester*/
/* From Uiverse.io by Nawsome */
.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    left: 370px;
    bottom: 55px;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }
/*Banner-col-6*/
.background-banner{
    background-image: url(../img/bg-icons-1.png);
    height: 880px;
    position:absolute;
    left: 0;
    right: 0;
}
.color-primary{
    color: var(--color-primary);
}
.banner{
    padding-top:110px;/*Descolar um pouco la de cima*/
    padding-bottom: 200px;
}
.text-banner{
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}
.text-banner h1{
    color: var(--color-black);
    font-size: 60px;
}
.text-banner p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.btn-yellow{
    background-color: var(--color-primary);
    color: var(--color-white)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.btn-icon-left{
    padding-left: 70px;
}
.btn-icon-left span.icon-left{
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}
.btn-sm{
    padding: 9px 15px!important;
    border-radius: 15px!important;
    font-size: 18px!important;
}
.btn-social{
    width: 50px;
}
    /*Banner-col-6*/
    .titulo-card{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
        width: 410px;
        font-size: 40px;
        color: var(--color-background);
       
    }
    .banner-img{
        padding: 25px;
        border-radius: 5px;
        background-color: var(--color-primary);
    }
    img{
      border-radius: 10px;
    }
    button {
        position: relative;
        top: 20px;
        left: 150px;/*alterar*/
        width: 11em;
        height: 4em;
        outline: none;
        transition: 0.1s;
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-weight: bold;
        color: #ddebf0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      #clip {
        --color: #2761c3; 
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 5px double var(--color);
        box-shadow: inset 0px 0px 15px #195480;
        -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      }
      
      .arrow {
        position: absolute;
        transition: 0.2s;
        background-color: #2761c3;
        top: 35%;
        margin-left: 1px;
        width: 11%;
        height: 30%;
      }
      
      #leftArrow {
        left: -13.5%;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
      }
      
      #rightArrow {
        -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
        left: 102%;
      }
      
      button:hover #rightArrow {
        background-color: #27c39f;
        left: -15%;
        animation: 0.6s ease-in-out both infinite alternate rightArrow8;
      }
      
      button:hover #leftArrow {
        background-color: #27c39f;
        left: 103%;
        animation: 0.6s ease-in-out both infinite alternate leftArrow8;
      }
      
      .corner {
        position: absolute;
        width: 4em;
        height: 4em;
        background-color: #2761c3;
        box-shadow: inset 1px 1px 8px #2781c3;
        transform: scale(1) rotate(45deg);
        transition: 0.2s;
      }
      
      #rightTop {
        top: -1.98em;
        left: 91%;
      }
      
      #leftTop {
        top: -1.96em;
        left: -3.0em;
      }
      
      #leftBottom {
        top: 2.10em;
        left: -2.15em;
      }
      
      #rightBottom {
        top: 45%;
        left: 88%;
      }
      
      button:hover #leftTop {
        animation: 0.1s ease-in-out 0.05s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover #rightTop {
        animation: 0.1s ease-in-out 0.15s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover #rightBottom {
        animation: 0.1s ease-in-out 0.25s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover #leftBottom {
        animation: 0.1s ease-in-out 0.35s both changeColor8,
        0.2s linear 0.4s both lightEffect8;
      }
      
      button:hover .corner {
        transform: scale(1.25) rotate(45deg);
      }
      
      button:hover #clip {
        animation: 0.2s ease-in-out 0.55s both greenLight8;
        --color: #27c39f;
      }
      
      @keyframes changeColor8 {
        from {
          background-color: #2781c3;
        }
      
        to {
          background-color: #27c39f;
        }
      }
      
      @keyframes lightEffect8 {
        from {
          box-shadow: 1px 1px 5px #27c39f;
        }
      
        to {
          box-shadow: 0 0 2px #27c39f;
        }
      }
      
      @keyframes greenLight8 {
        from {
        }
      
        to {
          box-shadow: inset 0px 0px 32px #27c39f;
        }
      }
      
      @keyframes leftArrow8 {
        from {
          transform: translate(0px);
        }
      
        to {
          transform: translateX(10px);
        }
      }
      
      @keyframes rightArrow8 {
        from {
          transform: translate(0px);
        }
      
        to {
          transform: translateX(-10px);
        }
      }
      
      
      
.card-banner{
    height: 410px;
    width: 450px;
    border-radius: 10px;
    background: rgba(0,0,0,0.6);
    margin-left: 40px;
    
}
.card{
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow:0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    border: none;
}
.card-case{
    width: 350px;
    font-size: 16px;
    position: absolute;
    margin-left: 19px;
    top: 500px;
    height: 50px;
    bottom: -75px;/*deixa mais la em baixo*/
}
.card-case-name{
    position: absolute;
    font-size: 12px;
    color: black;
    right: 20px;
    bottom: 10px;
}
/*Jogos*/
.cardapio{
    padding-top:100px;
    padding-bottom: 150px;
    background-color: var(--color-primary);/*deixar mais bonito, atencaooooooooooooooooooooooooooooooooo    */
}
.cardapio .background-cardapio{
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-color: transparent;
}
.container-menu{
    margin-bottom: 40px;/*descola da pagina*/
}
.card-item{
    height: 280px;
}
.card-item .img-jogo  img{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 11px;
}
.buttonl{
  margin-top: -10px;
  position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);
}
.card-item:hover{
  background-color: gray;
}
#clips{
  --color: #2761c3; 
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 5px double var(--color);
        box-shadow: inset 0px 0px 15px #195480;
        -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.play{
  color: #000;
}
.arrows {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}
.card-item .title-produto{
    color: var(--color-black);
    text-overflow:ellipsis ;/*texto em uma linha so(card)*/
    white-space: nowrap;
    overflow: hidden;
    height: 90px;
    margin-bottom:10px;
    font-size: 22px;
}
.card-item:hover{
  color: var(--color);
}
/*Footer*/
footer{
    background-color:black;
    color: var(--color-background);
}
.logo-footer{
    width: 100px;
}
.container-logo-footer, .container-texto-footer, .container-redes-footer{
    display: flex;
    align-items: center;
}
.container-logo-foote{
    justify-content: start;
}
.container-texto-footer{
    justify-content: center;
}
.container-redes-footer{
    justify-content: end;
}
