@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
body{
    background-image: url('../img/backgroundImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
}
.h1{
    font-family: "Protest Strike", sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.container{
  margin-top: 14px;
  background: linear-gradient(to top,rgb(15, 13, 13), #1B7F7A);
  width: 31%;
  height: 500px;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  text-align: center;
  justify-content:center;
  align-items: center;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.box{
    font-size: 35px;
    padding: 15px; 
    width: 400px;
    height: 50px;
    border: 3px solid black;
    background-color: #038C73;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}
.box:hover{
    color: aliceblue;
    transition: 0,1s;
    background-color: #027373;
    transform: scale(1.0)translateY(-10px);
}
p{
    color: white;
}

@media screen and (max-width: 767px){
    h1{
        font-size: 15px;
    }
    .container{
        margin-top: 60px;
        width: 80%;
    }
    .box{
        width: 200px;
    }
}
